{% extends "basesite/base.html" %}
{% load static %}

{% block nav-about %}"nav-item active"{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    </br>
    </br>
    </br>
    <h1 class="display-3">The Face of Ember Ruby</h1>
    <p>
      After losing our daughter Ember-Ruby to a premmature birth, we were motivated and determined to carry on her memory through our passion for design and archetecture. We now focus our skills and education into helping others, and want to make this Ember Design’s mission.
    </p>
  </div>
</div>

<div class="container">
  <div class="card-deck">
    <div class="card h-100">
      <img class="card-img-top" src="{% static 'basesite/images/reuben.jpg' %}">
      <div class="card-body">
	<h4 class="card-title">Reuben Munro</h4>
	<p class="card-text">
	  Reuben has spent the last 4 years creating high quality rendered 3d plans for design and architecture companies on varying projects from kitchens to public event venues.
	</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="{% static 'basesite/images/calita.jpg' %}">
      <div class="card-body">
	<h4 class="card-title">Calita Munro</h4>
	<p class="card-text">
	  Spending years as an artist and creating award winning pieces, Calita brings her extensive knowledge and skills along with her degree in Visual Arts and Design.
	</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
