{% extends "basesite/base.html" %}
{% load static %}

<!-- Sets the nav-item "home" to active -->
{% block nav-home %}"nav-item active"{% endblock %}

{% block content %}
<!-- The first section of the home page -->
<div class="jumbotron">
  <div class="container">
    </br>
    </br>
    </br>
    <p>
      Provider of interior design solutions, layouts and styling.
      Allowing clients to express their ideas and personality through customised design.
    </p>
    <p>
      <a class="btn btn-primary tn-lg" href="#" role="button">View Our Work</a>
    </p>
  </div>
</div>
<!-- The second section of the home page -->
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p><img class="img-fluid rounded" src="{% static 'basesite/images/consultation.jpg' %}"></p>
      <h2>Consultation</h2>
      <p>
	"With you from the beginning, we offer face to face consultations or video calling online. We start with the basics and go from there."
      </p>
    </div>
    <div class="col-md-3">
      <p><img class="img-fluid rounded" src="{% static 'basesite/images/design.jpg' %}"></p>
      <h2>Design</h2>
      <p>
	"Years of design experience paired with your input, all goes into creating a space you can call your own."
      </p>
    </div>
    <div class="col-md-3">
      <p><img class="img-fluid rounded" src="{% static 'basesite/images/documentation.jpg' %}"></p>
      <h2>Documentation</h2>
      <p>
	"Every idea, draft, sketch and design element documented and crafted in computer software so you can see what stage your project is at and be involved in the whole process. Our clients receive plans, elevations, item lists and high quality renders."
      </p>
    </div>
    <div class="col-md-3">
      <p><img class="img-fluid rounded" src="{% static 'basesite/images/construction.jpg' %}"></p>
      <h2>Construction</h2>
      <p>
	"Right until the end we are there with you ensuring that your project is complete to a high standard and the vision you planned with us."
      </p>
    </div>
  </div>
</div>
{% endblock %}
