{% extends "basesite/base.html" %}
{% load static %}

{% block nav-ourwork %}"nav-item active"{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    </br>
    </br>
    </br>
    <h1>Our Work</h1>
  </div>
</div>

<div class="container">
  <div class="card-deck mh-30">
    {% for project in object_list %}
    <div class="card">
      <img class="card-img-top" src="{{ project.thumb_image }}">
      <div class="card-img-overlay">
	<h4 class="card-title">{{ project.title }}</h4>
	<p class="card-text">
	  {{ project.description }}
	</p>
      </div>
    </div>
    {% empty %}
    <p> No projects yet. </p>
    {% endfor %}
  </div>
</div>

{% endblock %}
